@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}
body {
    font-family: 'Roboto', sans-serif;
    color: white;
    background-color: black;
    text-align: center;
}
header {
    background-color: #ddb653;
    color: black;
    padding: 1rem;
    font-size: 14px;
}
main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
span {
    color: #ddb653;
}
img {
    width: 70vw;
    max-width: 900px;
}
button {
    padding: 1rem 4rem;
    border-radius: 30px;
    font-family: 'Roboto';
    font-weight: 700;
    font-size: 26px;
    border: none;
    background-color: limegreen;
}
button:hover {
    cursor: pointer;
    background-color: forestgreen;
}
h1 {
    font-size: 40px;
    padding: 4rem;
    width: 80vw;
    max-width: 1000px;
}
h3 {
    padding-top: 3rem;
    padding-bottom: 3rem;
    font-size: 24px;
}
footer {
    padding: 8rem 1rem 1.4rem 1rem;
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 1000px;
    color: rgb(68, 68, 68);
    font-size: 12px;
    line-height: 1.2rem;
}

@media screen and (max-width: 450px) {
    img {
        width: 95vw;
    }
    h1 {
        font-size: 28px;
        width: 100vw;
        padding: 3rem 1rem;
    }
    button {
        font-size: 20px;
        padding: 0.8rem 1.2rem;
    }
    header {
        font-size: 12px;
    }
}