@import url('https://fonts.googleapis.com/css2?family=Fira+Sans+Condensed:wght@300;400;500;600&family=Lato&family=Montserrat:wght@300;400;500;600&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}
body {
    font-family: 'Montserrat', sans-serif;
    color: black;
    background-color: rgb(225, 225, 225);
}
h3 {
    font-family: 'Lato', sans-serif;
    padding-top: 25px;
    padding-bottom: 20px;
    font-size: 24px;
    font-weight: 400;
    color: white;
    text-align: center;
}
h1 {
    font-family: 'Montserrat', sans-serif;
    font-size: 35px;
    text-align: center;
    letter-spacing: 1px;
    padding-bottom: 30px;;
    line-height: 35px;
    font-weight: 400;
    color: white;
}
span {
    font-weight: 600;
}
.back {
    margin: 0 auto;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    background-image: url(../images/lp-estrelas.jpg);
    width: 100%;
    height: 460px;
    background-size: cover;
    background-repeat:no-repeat;
    background-position: center;
}
.back p {
    display: none;
}
.conteudo {
    width: 900px;
    position: absolute;
    left: 50%;
    margin-left: -450px;
    z-index: 2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#vid_642719a449342600085e87ea {
    position:relative;
    width:100%;
    padding: 56.25% 0 0;
}
#thumb_642719a449342600085e87ea {
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    object-fit:cover;
    display:block;
}
#backdrop_642719a449342600085e87ea {
    position:absolute;
    top:0;
    width:100%;
    height:100%;
    -webkit-backdrop-filter:blur(5px);
    backdrop-filter:blur(5px);
}
footer {
    display: flex;
    flex-direction: column;
    gap: 10px;
    text-align: center;
    font-size: 14px;
    color: gray;
    font-weight: 400;
    width: 900px;
    position: absolute;
    bottom: 20px;
    left: 50%;
    margin-left: -450px;
}
button {
    margin-top: 50px;
    padding: 1rem 3rem;
    border-radius: 100px;
    font-family: 'Fira Sans Condensed', sans-serif;
    font-weight: 700;
    font-size: 26px;
    border: none;
    background-color: limegreen;
    font-size: 30px;
    box-shadow: 10px 10px 20px gray;
}
button:hover {
    cursor: pointer;
    background-color: forestgreen;
}

@media (max-width: 1300px) {
    .conteudo {
        width: 780px;
        position: absolute;
        left: 50%;
        margin-left: -400px;
    }
    h3 {
        padding-top: 25px;
        font-size: 20px;
    }
    h1 {
        font-size: 30px;
        line-height: 30px;
    }
    .back {
        height: 420px;
    }
    button {
        padding: 1rem 3rem;
        font-size: 2rem;
    }
    footer {
        font-size: 12px;
        width: 800px;
        margin-left: -400px;
    }
}

@media (max-width: 800px) {
    .conteudo {
        width: 96vw;
        position: absolute;
        left: 50%;
        margin-left: -48vw;
    }
    h3 {
        padding-top: 25px;
        padding-bottom: 16px;
        font-size: 1.2rem;
    }
    h1 {
        width: 90vw;
        padding-bottom: 30px;
        font-size: 25px;
        line-height: 25px;
    }
    .back {
        height: 380px;
    }
    button {
        padding: 10px 20px;
        font-size: 1.5rem;
    }
    footer {
        font-size: 12px;
        width: 80vw;
        margin-left: -40vw;
    }
}
@media (max-width: 400px) {
    h3 {
        padding-top: 30px;
        padding-bottom: 16px;
        font-size: 1rem;
}
}